.logout_button{

    position:absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 20px;

}

.profile_button{

    position:absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 70px;
    

}
